<div id="content" class="sa-outlook-content">
  <div class="inbox-nav-bar no-content-padding">

    <h1 class="page-title txt-color-blueDark hidden-tablet"><i class="fa fa-fw fa-inbox"></i> Mensajería</h1>

  </div>

  <div id="inbox-content" class="inbox-body no-content-padding">
    <div class="inbox-side-bar">

      <ul class="inbox-menu-lg">
        <li>
          <a routerLink="/principal/correo/inbox">Bandeja de Entrada</a>
        </li>
      </ul>

    </div>
    <router-outlet></router-outlet>

    <div class="inbox-footer">

    </div>

  </div>


</div>
