<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="MiEmpresaEnLínea"> </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">¿No tienes usuario?</span> <a routerLink="/auth/register" class="btn btn-primary">Crea tu Usuario</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="login-header-big"><span class="custom-green">MiEmpresa</span><span class ="custom-blue">EnLínea</span></h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">Este sitio te permite crear y administrar tu empresa en línea.</h4>

            <div class="login-app-icons">
              <a routerLink="/auth/register" class="btn btn-primary btn-sm">Crear mi Usuario</a>
              <a href="https://honduras.eregulations.org/" class="btn btn-primary btn-sm">Ir al sitio de EmprendeGuía</a>
            </div>
          </div>
          <img src="assets/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Acerca de MiEmpresaEnLínea</h5>

            <p>
              A efecto de facilitar la formalización de las actividades mercantiles por parte de quienes las desempeñan y fomentar el desarrollo de la iniciativa empresarial, se implementó una Plataforma de Solicitudes que permite el registro, constitución y gestión de Sociedades Mercantiles.
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Contáctanos</h5>

            <p>
              Contacto
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form class="smart-form client-form">
            <header>
              Conectarse al Portal de Solicitudes
            </header>
            <fieldset>
              <section>
                <label class="label">Correo Electrónico</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="email" name="email" data-smart-validate-input="" data-required="" data-email="" data-message-required="Por favor ingrese su correo electrónico." data-message-email="Por favor introduzca un formato de correo válido.">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Ingrese su correo electrónico</b></label>
              </section>
              <section>
                <label class="label">Contraseña</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" data-smart-validate-input="" data-required="" data-minlength="3" data-maxnlength="20" data-message="Please enter your email password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Ingrese su contraseña</b> </label>

                <div class="note">
                  <a routerLink="/auth/forgot-password">Recuperar contraseña</a>
                </div>
              </section>
            </fieldset>
            <footer>
              <button (click)="login($event)" class="btn btn-primary">
                Conectarse
              </button>
            </footer>
          </form>
        </div>
        <h5 class="text-center"> - Visítanos en -</h5>
        <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
