<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Solicitudes', 'S. de R. L.']" icon="cube" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>


  <!-- widget grid -->
  <div class="">
    <sa-widgets-grid>

      <!-- row -->
      <div class="row">

        <!-- NEW WIDGET START -->
          <apertura-sdrl></apertura-sdrl>
        <!-- WIDGET END -->

      </div>

      <!-- end row -->

    </sa-widgets-grid>
  </div>

  <!-- end widget grid -->


</div>
