<div id="content">
    <div class="row">
      <sa-big-breadcrumbs [items]="['Personas', 'Ver Personas']" icon="user" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
      <sa-stats></sa-stats>
  </div>
    <div class="">
      <sa-widgets-grid>

        <div class="row">
          <h3 class="custom-centered"><strong>Ver Personas</strong></h3>
          <form novalidate="novalidate">
            <div class="col-sm-12">
              <div class="form-bootstrapWizard clearfix">
                <div class="form-group">
                  <div class="tab-content">

                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>


      </sa-widgets-grid>
    </div>
</div>