<aside id="left-panel"> 
<sa-login-info></sa-login-info>
  <nav>
    <ul saSmartMenu>
    <li class="top-menu-invisible">
        <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent"> Mis Solicitudes</span></a>
        <ul>
          <li>
            <a routerLink="/principal/mis_solicitudes/historial_solicitudes"><i class="fa fa-clock-o"></i> Historial Solicitudes</a>
          </li>
          <li>
            <a routerLink="/principal/solicitudes"><i class="fa fa-plus"></i> Nueva Solicitud</a>
          </li>
          <li>
            <a routerLink="/principal/mis_solicitudes/tareas_pendientes"><i class="fa fa-clock-o"></i> Tareas Pendientes</a>
          </li>
          <li>
            <a routerLink="/principal/mis_solicitudes/historial_tareas"><i class="fa fa-clock-o"></i> Historial Tareas</a>
          </li>
        </ul>
      </li>
      <li class="top-menu-invisible">
        <a href="#"><i class="fa fa-lg fa-fw fa-user txt-color-blue"></i> <span class="menu-item-parent"> Personas</span></a>
        <ul>
          <li>
            <a routerLink="/principal/personas/agregar"><i class="fa fa-user-plus"></i> Agregar Personas</a>
          </li>
          <li>
            <a routerLink="/principal/personas/ver"><i class="fa fa-search"></i> Ver Personas</a>
          </li>
        </ul>
      </li>
      <li class="top-menu-invisible">
        <a href="#"><i class="fa fa-lg fa-fw fa-comment-o txt-color-blue"></i> <span class="menu-item-parent"> Mensajería</span></a>
        <ul>
          <li>
            <a routerLink="/principal/correo/inbox"><i class="fa fa-inbox"></i> Bandeja de Entrada</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <sa-minify-menu></sa-minify-menu>
</aside>
