
  <!-- widget options:
  usage: <sa-widget [editbutton]="false">

  [colorbutton]="false"
  [editbutton]="false"
  [togglebutton]="false"
  [deletebutton]="false"
  [fullscreenbutton]="false"
  [custombutton]="false"
  [collapsed]="true"
  [sortable]="false"



  -->
  <h3 class="custom-centered"><strong>Apertura de una Sociedad Anónima</strong></h3>
        <form novalidate="novalidate">
          <div class="col-sm-12">
            <div class="form-bootstrapWizard clearfix">
              <ul class="bootstrapWizard">
                <li *ngFor="let pane of steps; let i = index" [class.active]="activeStep == pane">
                  <a (click)="setActiveStep(pane)"> <span class="step">
                    <span *ngIf="!pane.checked">{{i + 1}}</span>
                    <i class="fa fa-check" *ngIf="pane.checked"></i>
                  </span> <span class="title">{{pane.title}}</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane" [class.active]="activeStep.key == 'step1'">
                <br>

                <h3><strong>Paso 1 </strong> - Datos Generales</h3>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group" [ngClass]="{
                      'has-success':razonSocial.valid && activeStep.submitted,
                      'has-error':!razonSocial.valid && activeStep.submitted
                      }">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-building fa-lg fa-fw"></i></span>
                        <input class="form-control input-lg" placeholder="Denominación o Razón Social" type="text"
                               name="razonSocial" #razonSocial="ngModel"
                               required [(ngModel)]="model.razonSocial" >
                      </div>
                      <span [class.hidden]="razonSocial.valid || !activeStep.submitted" class="help-block">
                          Por favor ingrese su Denominación o Razón Social de su sociedad
                        </span>
                    </div>

                  </div>

                  <div class="col-sm-6">
                    <div class="form-group" [ngClass]="{
                      'has-success':nombreComercial.valid && activeStep.submitted,
                      'has-error':!nombreComercial.valid && activeStep.submitted
                      }">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-bank fa-lg fa-fw"></i></span>
                        <input class="form-control input-lg" placeholder="Nombre Comercial" type="text"
                               name="nombreComercial" #nombreComercial="ngModel"
                               required [(ngModel)]="model.nombreComercial" >
                      </div>
                      <span [class.hidden]="nombreComercial.valid || !activeStep.submitted" class="help-block">
                          Por favor ingrese el Nombre Comercial de su sociedad
                        </span>
                    </div>

                  </div>

                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group" [ngClass]="{
                      'has-success':ciudad.valid && activeStep.submitted,
                      'has-error':!ciudad.valid && activeStep.submitted
                      }">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home fa-lg fa-fw"></i></span>
                        <select name="ciudad" required [(ngModel)]="model.ciudad" #ciudad="ngModel"
                                class="form-control input-lg">
                          <option value="" selected="selected">Seleccione la ciudad</option>
                          <option value="1">Ciudad 1</option>
                          <option value="2">Ciudad 2</option>
                          </select>
                      </div>
                      <span [class.hidden]="ciudad.valid || !activeStep.submitted" class="help-block">
                          Selecciona la ciudad
                        </span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group" [ngClass]="{
                      'has-success':direccion.valid && activeStep.submitted,
                      'has-error':!direccion.valid && activeStep.submitted
                      }">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker fa-lg fa-fw"></i></span>
                        <input class="form-control input-lg" placeholder="Dirección" type="text"
                               name="direccion" #direccion="ngModel"
                               required [(ngModel)]="model.direccion">
                      </div>
                      <span [class.hidden]="direccion.valid || !activeStep.submitted" class="help-block">
                          Ingrese la dirección de su sociedad
                        </span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="tab-pane" [class.active]="activeStep.key == 'step2'">
                <br>

                <h3><strong>Paso 2</strong> - Actividades y Duración</h3>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group" [ngClass]="{
                      'has-success':actividadPrimaria.valid && activeStep.submitted,
                      'has-error':!actividadPrimaria.valid && activeStep.submitted
                      }">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-cogs fa-lg fa-fw"></i></span>
                        <input class="form-control input-lg" placeholder="Actividad Primaria" type="text"
                               name="actividadPrimaria" #actividadPrimaria="ngModel"
                               required [(ngModel)]="model.actividadPrimaria" >
                      </div>
                      <span [class.hidden]="actividadPrimaria.valid || !activeStep.submitted" class="help-block">
                          Por favor ingrese la Actividad Primaria de su sociedad
                        </span>
                    </div>

                  </div>

                  <div class="col-sm-6">
                    <div class="form-group" [ngClass]="{
                      'has-success':actividadSecundaria.valid && activeStep.submitted,
                      'has-error':!actividadSecundaria.valid && activeStep.submitted
                      }">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-gear fa-lg fa-fw"></i></span>
                        <input class="form-control input-lg" placeholder="Actividad Secundaria" type="text"
                               name="actividadSecundaria" #actividadSecundaria="ngModel"
                               required [(ngModel)]="model.actividadSecundaria" >
                      </div>
                      <span [class.hidden]="actividadSecundaria.valid || !activeStep.submitted" class="help-block">
                          Por favor ingrese la Actividad Secundaria de su sociedad
                        </span>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group" [ngClass]="{
                      'has-success':duracionSociedad.valid && activeStep.submitted,
                      'has-error':!duracionSociedad.valid && activeStep.submitted
                      }">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-exchange fa-lg fa-fw"></i></span>
                        <select name="duracionSociedad" required [(ngModel)]="model.duracionSociedad" #duracionSociedad="ngModel"
                                class="form-control input-lg">
                          <option value="" selected="selected">Seleccione una opción</option>
                          <option value="1">Determinada</option>
                          <option value="2">Indeterminada</option>
                          </select>
                      </div>
                      <span [class.hidden]="duracionSociedad.valid || !activeStep.submitted" class="help-block">
                          Selecciona el tipo de duración de su sociedad
                        </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group" [ngClass]="{
                      'has-success':fechaInicio.valid && activeStep.submitted,
                      'has-error':!fechaInicio.valid && activeStep.submitted
                      }">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-building fa-lg fa-fw"></i></span>
                      <input class="form-control input-lg" placeholder="Inicio de Actividades" type="date"
                               name="fechaInicio" #fechaInicio="ngModel"
                               required [(ngModel)]="model.fechaInicio" >
                      </div>
                      <span [class.hidden]="fechaInicio.valid || !activeStep.submitted" class="help-block">
                          Por favor seleccione una fecha de inicio de actividades
                        </span>
                    </div>

                  </div>

                  <div class="col-sm-4">
                    <div class="form-group" [ngClass]="{
                      'has-success':fechaFinal.valid && activeStep.submitted,
                      'has-error':!fechaFinal.valid && activeStep.submitted
                      }">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-building fa-lg fa-fw"></i></span>
                      <input class="form-control input-lg" placeholder="Inicio de Expiración" type="date"
                               name="fechaFinal" #fechaFinal="ngModel"
                               required [(ngModel)]="model.fechaFinal" >
                      </div>
                      <span [class.hidden]="fechaFinal.valid || !activeStep.submitted" class="help-block">
                          Por favor seleccione una fecha de expiración de actividades
                        </span>
                    </div>

                  </div>
                </div>
              </div>
              <div class="tab-pane" [class.active]="activeStep.key == 'step3'">
                <br>

                <h3><strong>Step 3</strong> - Domain Setup</h3>

                <alert type="info" dismissible="true">
                  <i class="fa-fw fa fa-info"></i>
                  <strong>Info!</strong> Place an info message box if you wish.
                </alert>
                <div class="form-group">
                  <label>This is a label</label>
                  <input class="form-control input-lg" placeholder="Another input box here..." type="text" name="etc"
                         id="etc">
                </div>
              </div>
              <div class="tab-pane" [class.active]="activeStep.key == 'step4'">
                <br>

                <h3><strong>Step 4</strong> - Save Form</h3>
                <br>

                <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> Complete</strong></h1>
                <h4 class="text-center">Click next to finish</h4>
                <br>
                <br>
              </div>

              <div class="form-actions">
                <div class="row">
                  <div class="col-sm-12">
                    <ul class="pager wizard no-margin">
                      <li class="previous">
                        <a (click)="prevStep()" [class.disabled]="steps.indexOf(activeStep) == 0"
                                class="btn btn-lg btn-default"> Previous
                        </a>
                      </li>
                      <li class="next">
                        <a (click)="nextStep()" [class.disabled]="activeStep.submitted && !activeStep.valid" class="btn btn-lg txt-color-darken"> Next
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
